<?xml version="1.0" encoding="utf-8"?>
<Mediachase.Search>
    <SearchProviders defaultProvider="ESalesSearchProvider">
        <providers>
            <!--
                Apptus eSales provider
                applicationName - the application name to use ESales for. ESales only supports a single application, required.
                scope - the scope to use ESales for. ESales only supports single scope. This should map to name of Indexer below, required.
                appPath - web application root directory, required.
                clusterURL - the URL where the ESales cluster can be found, required.
                managerURL - the URL where the ESales manager can be located, default: http://<local machine name>:35350/.
                appData - path to directory for writing eSales application data, default: <appPath>\App_Data\ESales.
                enable - whether to run updates on this node, default: true.
                keepDataFiles - whether to keep the data files sent to esales after update is complete, default: false.
                xmlConfigurationFile - path of file with custom configuration, default: no custom configuration.
                filterConfigurationFile - the configuration file for filters, default: <appPath>\Configs\Mediachase.Search.Filters.Config.
                saas - set to true to enable the ESalesSearchProvider to connect to a saas eSales cluster. default: false.
                saasUser - User name to the saas, required if saas is set to true, otherwise ignored.
                saasPassword - Password to the saas, required if saas is set to true, otherwise ignored.
                debug - set to true to run with debug configuration, to allow for more information in XML interface, default: false.
                filterAttributes - semi-colon separated list of attributes to filter on, in addition to those created by the automatic flow.
                suggestAttributes - semi-colon separated list of attributes to use for autocomplete and did you mean. If none specified, all searchable attributes can be used for suggest.
                enableVariants - true/false, set to true if "ProductVariant"-relations in commerce should be exported as variants to eSales, default: false.
                enableAds - true/false, set to true if ads should be exported, default: false.
                adsSource - commerce/<path>, default: commerce
                            commerce: Promotions and campaigns in EPiServer Commerce should be exported as ads to eSales.
                            <path>: An eSales configuration file that contains the ad_attribute-element (use if ads are exported from another source).
                useCodeAsKey - Use entry codes as keys rather than id, required.
            -->
            <add name="ESalesSearchProvider" type="Apptus.ESales.EPiServer.Import.ESalesSearchProvider, Apptus.ESales.EPiServer, Culture=neutral"
                applicationName="EPiServerCommerceManager"
                scope="catalog"
                clusterURL="esales://localhost"
                appPath="C:\EPiServer\Sites\EPiServerCommerceManager"
                appData="C:\EPiServer\Sites\EPiServerCommerceManager\App_Data\ESales"
                enable="true"
                keepDataFiles="false"
                enableVariants="false"
                enableAds="false"
                adsSource="commerce"
				useCodeAsKey="true" />
        </providers>
    </SearchProviders>
    <Indexers basePath="C:\EPiServer\Sites\EPiServerCommerceManager\App_Data\SearchIndex">
        <!--<add name="catalog" type="Mediachase.Search.Extensions.Indexers.CatalogIndexBuilder, Mediachase.Search.Extensions" />-->
        <add name="catalog" type="Apptus.ESales.EPiServer.Import.ESalesCatalogIndexBuilder, Apptus.ESales.EPiServer, Culture=neutral" />
    </Indexers>
</Mediachase.Search>