<SearchConfig version="1.0">
    <SearchFilters>
		<Filter field="_outline">
            <Descriptions defaultLocale="en-us">
                <Description locale="en-us">Region</Description>
            </Descriptions>
            <Values>
                <SimpleValue key="Wine/Region/Argentina" value="Wine/Region/Argentina">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Argentina</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="Wine/Region/Australia" value="Wine/Region/Australia">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Australia</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="Wine/Region/Austria" value="Wine/Region/Austria">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Austria</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="Wine/Region/Chile" value="Wine/Region/Chile">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Chile</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="Wine/Region/France" value="Wine/Region/France">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">France</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="Wine/Region/GB" value="Wine/Region/GB">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Great Britain</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="Wine/Region/Germany" value="Wine/Region/Germany">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Germany</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="Wine/Region/Greece" value="Wine/Region/Greece">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Greece</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="Wine/Region/Hungary" value="Wine/Region/Hungary">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Hungary</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="Wine/Region/Italy" value="Wine/Region/Italy">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Italy</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="Wine/Region/Lebanon" value="Wine/Region/Lebanon">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Lebanon</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="Wine/Region/NZ" value="Wine/Region/NZ">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">New Zeeland</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="Wine/Region/Portugal" value="Wine/Region/Portugal">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Portugal</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="Wine/Region/SA" value="Wine/Region/SA">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">South Africa</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="Wine/Region/Spain" value="Wine/Region/Spain">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Spain</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="Wine/Region/USA" value="Wine/Region/USA">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">USA</Description>
                    </Descriptions>
                </SimpleValue>
            </Values>
		</Filter>
        <!--<Filter field="region">
            <Descriptions defaultLocale="en-us">
                <Description locale="en-us">Region</Description>
            </Descriptions>
            <Values>
                <SimpleValue key="mendoza" value="mendoza">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Mendoza</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="tupungato" value="tupungato">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Tupungato</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="wachau" value="wachau">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Wachau</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="nahe" value="nahe">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Nahe</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="piedmont" value="piedmont">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Piedmont</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="stellenbosch" value="stellenbosch">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Stellenbosch</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="alicante" value="alicante">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Alicante</Description>
                    </Descriptions>
                </SimpleValue>
            </Values>
        </Filter>-->
        <Filter field="listprice">
            <Descriptions defaultLocale="en-us">
                <Description locale="en-us">Price</Description>
            </Descriptions>
            <Values>
                <PriceRangeValue key="under-5" currency="gbp" upperbound="5">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Up to £5</Description>
                    </Descriptions>
                </PriceRangeValue>
                <PriceRangeValue key="5-10" currency="gbp" lowerbound="5" upperbound="10" lowerboundincluded="false" upperboundincluded="true">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">£5-£10</Description>
                    </Descriptions>
                </PriceRangeValue>
                <PriceRangeValue key="10-20" currency="gbp" lowerbound="10" upperbound="20" lowerboundincluded="false" upperboundincluded="true">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">£10-£20</Description>
                    </Descriptions>
                </PriceRangeValue>
                <PriceRangeValue key="20-100" currency="gbp" lowerbound="20" upperbound="100" lowerboundincluded="false" upperboundincluded="true">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">£20-£100</Description>
                    </Descriptions>
                </PriceRangeValue>
                <PriceRangeValue key="100-300" currency="gbp" lowerbound="100" upperbound="300" lowerboundincluded="false" upperboundincluded="true">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">£100-£300</Description>
                    </Descriptions>
                </PriceRangeValue>
                <PriceRangeValue key="300-500" currency="gbp" lowerbound="300" upperbound="500" lowerboundincluded="false" upperboundincluded="true">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">£300-£500</Description>
                    </Descriptions>
                </PriceRangeValue>
                <PriceRangeValue key="upper-500" currency="gbp" lowerbound="500" lowerboundincluded="false" upperboundincluded="true">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">£500 or more</Description>
                    </Descriptions>
                </PriceRangeValue>
            </Values>
        </Filter>
        <Filter field="color">
            <Descriptions defaultLocale="en-us">
                <Description locale="en-us">Color</Description>
            </Descriptions>
            <Values>
                <SimpleValue key="white" value="white">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">White</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="red" value="red">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Red</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="rosé" value="rosé">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Rosé</Description>
                    </Descriptions>
                </SimpleValue>
            </Values>
        </Filter>
        <Filter field="style">
            <Descriptions defaultLocale="en-us">
                <Description locale="en-us">Style</Description>
            </Descriptions>
            <Values>
                <SimpleValue key="white bordeaux" value="white bordeaux">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">White bordeaux</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="red burgundy" value="red burgundy">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Red burgundy</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="white burgundy" value="white burgundy">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">White burgundy</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="rhône" value="rhône">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Rhône</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="red bordeaux" value="red bordeaux">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Red bordeaux</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="sa" value="sa">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Sa</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="alsace" value="alsace">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Alsace</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="port" value="port">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Port</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="italy" value="italy">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Italy</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="chablis" value="chablis">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Chablis</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="champagne" value="champagne">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Champagne</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="australia" value="australia">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Australia</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="beaujolais" value="beaujolais">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Beaujolais</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="berrys'own selection" value="berrys'own selection">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Berrys'own selection</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="southern france" value="southern france">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Southern france</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="spain" value="spain">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Spain</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="germany" value="germany">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Germany</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="sherry" value="sherry">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Sherry</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="madeira" value="madeira">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Madeira</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="sparkling wine" value="sparkling wine">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Sparkling wine</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="austria" value="austria">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Austria</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="argentina" value="argentina">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Argentina</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="portugal" value="portugal">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Portugal</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="loire" value="loire">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Loire</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="hungarian tokaji" value="hungarian tokaji">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Hungarian tokaji</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="north america" value="north america">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">North america</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="chile" value="chile">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Chile</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="south-west france" value="south-west france">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">South-west france</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="nz" value="nz">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Nz</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="england" value="england">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">England</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="jura" value="jura">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Jura</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="berrys' own selection" value="berrys' own selection">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Berrys' own selection</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="greece" value="greece">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Greece</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="miscellaneous" value="miscellaneous">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Miscellaneous</Description>
                    </Descriptions>
                </SimpleValue>
            </Values>
        </Filter>
        <Filter field="closure">
            <Descriptions defaultLocale="en-us">
                <Description locale="en-us">Closure</Description>
            </Descriptions>
            <Values>
                <SimpleValue key="cork" value="cork">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Cork</Description>
                    </Descriptions>
                </SimpleValue>
            </Values>
        </Filter>
        <Filter field="varieties">
            <Descriptions defaultLocale="en-us">
                <Description locale="en-us">Grape mix</Description>
            </Descriptions>
            <Values>
                <SimpleValue key="sauv.blanc &amp; semillon" value="sauv.blanc &amp; semillon">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Sauv.blanc &amp; semillon</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="pinot noir" value="pinot noir">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Pinot noir</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="chardonnay" value="chardonnay">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Chardonnay</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="syrah/shiraz" value="syrah/shiraz">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Syrah/shiraz</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="viognier" value="viognier">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Viognier</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="northern rhone blend" value="northern rhone blend">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Northern rhone blend</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="cab.sauvignon blend" value="cab.sauvignon blend">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Cab.sauvignon blend</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="other varieties" value="other varieties">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Other varieties</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="riesling" value="riesling">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Riesling</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="port blend" value="port blend">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Port blend</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="sauvignon blanc" value="sauvignon blanc">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Sauvignon blanc</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="nebbiolo" value="nebbiolo">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Nebbiolo</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="sangiovese &amp; merlot" value="sangiovese &amp; merlot">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Sangiovese &amp; merlot</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="barbera" value="barbera">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Barbera</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="merlot" value="merlot">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Merlot</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="champagne blend" value="champagne blend">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Champagne blend</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="gamay" value="gamay">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Gamay</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="semillon" value="semillon">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Semillon</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="tempranillo/tinto fino" value="tempranillo/tinto fino">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Tempranillo/tinto fino</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="grenache/garnacha" value="grenache/garnacha">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Grenache/garnacha</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="palomino fino" value="palomino fino">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Palomino fino</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="malvasia (malmsey)" value="malvasia (malmsey)">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Malvasia (malmsey)</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="bual" value="bual">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Bual</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="sercial" value="sercial">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Sercial</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="marsanne" value="marsanne">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Marsanne</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="cab.franc" value="cab.franc">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Cab.franc</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="sangiovese" value="sangiovese">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Sangiovese</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="southern rhone blend" value="southern rhone blend">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Southern rhone blend</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="tinta negra mole" value="tinta negra mole">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Tinta negra mole</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="pinot gris/pinot grigio" value="pinot gris/pinot grigio">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Pinot gris/pinot grigio</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="white rhone blend" value="white rhone blend">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">White rhone blend</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="chenin blanc" value="chenin blanc">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Chenin blanc</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="malbec" value="malbec">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Malbec</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="furmint" value="furmint">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Furmint</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="mencia" value="mencia">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Mencia</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="carignan" value="carignan">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Carignan</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="timorasso" value="timorasso">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Timorasso</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="muscat" value="muscat">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Muscat</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="pedro ximenez" value="pedro ximenez">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Pedro ximenez</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="viura" value="viura">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Viura</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="corvina" value="corvina">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Corvina</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="mourvedre" value="mourvedre">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Mourvedre</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="gruner veltliner" value="gruner veltliner">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Gruner veltliner</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="gewurztraminer" value="gewurztraminer">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Gewurztraminer</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="roussanne" value="roussanne">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Roussanne</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="montepulciano d'abruzzo" value="montepulciano d'abruzzo">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Montepulciano d'abruzzo</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="primitivo" value="primitivo">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Primitivo</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="touriga nacional" value="touriga nacional">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Touriga nacional</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="savagnin" value="savagnin">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Savagnin</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="cab.sauvignon" value="cab.sauvignon">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Cab.sauvignon</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="tinto fino &amp; cab. sauvignon" value="tinto fino &amp; cab. sauvignon">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Tinto fino &amp; cab. sauvignon</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="torrontes" value="torrontes">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Torrontes</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="shiraz &amp; cab.sauvignon" value="shiraz &amp; cab.sauvignon">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Shiraz &amp; cab.sauvignon</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="pelaverga" value="pelaverga">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Pelaverga</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="nerello" value="nerello">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Nerello</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="aligote" value="aligote">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Aligote</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="tannat" value="tannat">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Tannat</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="assyrtiko" value="assyrtiko">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Assyrtiko</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="verdicchio" value="verdicchio">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Verdicchio</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="pinot blanc" value="pinot blanc">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Pinot blanc</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="merlot/cabernet franc" value="merlot/cabernet franc">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Merlot/cabernet franc</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="dolcetto" value="dolcetto">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Dolcetto</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="verdejo" value="verdejo">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Verdejo</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="garganega" value="garganega">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Garganega</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="carmenere" value="carmenere">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Carmenere</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="verdelho" value="verdelho">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Verdelho</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="albarino" value="albarino">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Albarino</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="trebbiano" value="trebbiano">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Trebbiano</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="aglianico" value="aglianico">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Aglianico</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="cortese" value="cortese">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Cortese</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="bacchus" value="bacchus">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Bacchus</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="arneis" value="arneis">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Arneis</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="melon de bourgogne" value="melon de bourgogne">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Melon de bourgogne</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="fiano" value="fiano">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Fiano</Description>
                    </Descriptions>
                </SimpleValue>
            </Values>
        </Filter>
        <Filter field="abv">
            <Descriptions defaultLocale="en-us">
                <Description locale="en-us">Alcohol</Description>
            </Descriptions>
            <Values>
                <SimpleValue key="13" value="13">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">13</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="14" value="14">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">14</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="17" value="17">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">17</Description>
                    </Descriptions>
                </SimpleValue>
            </Values>
        </Filter>
        <Filter field="taste">
            <Descriptions defaultLocale="en-us">
                <Description locale="en-us">Taste</Description>
            </Descriptions>
            <Values>
                <SimpleValue key="sweet" value="sweet">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Sweet</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="dry" value="dry">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Dry</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="brut" value="brut">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Brut</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="medium sweet" value="medium sweet">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Medium sweet</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="medium" value="medium">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Medium</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="medium dry" value="medium dry">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">Medium dry</Description>
                    </Descriptions>
                </SimpleValue>
            </Values>
        </Filter>
        <Filter field="vegetarians">
            <Descriptions defaultLocale="en-us">
                <Description locale="en-us">Vegetarians</Description>
            </Descriptions>
            <Values>
                <SimpleValue key="false" value="false">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">False</Description>
                    </Descriptions>
                </SimpleValue>
            </Values>
        </Filter>
        <Filter field="vegans">
            <Descriptions defaultLocale="en-us">
                <Description locale="en-us">Vegans</Description>
            </Descriptions>
            <Values>
                <SimpleValue key="false" value="false">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">False</Description>
                    </Descriptions>
                </SimpleValue>
            </Values>
        </Filter>
        <Filter field="margin">
            <Descriptions defaultLocale="en-us">
                <Description locale="en-us">Margin</Description>
            </Descriptions>
            <Values>
                <SimpleValue key="10" value="10">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">10</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="20" value="20">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">20</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="30" value="30">
                    <Descriptions defaultLocale="en-us">
                        <Description locale="en-us">30</Description>
                    </Descriptions>
                </SimpleValue>
            </Values>
        </Filter>
        <Filter field="recommendboost">
            <Descriptions defaultLocale="en-us">
                <Description locale="en-us">Recommendboost</Description>
            </Descriptions>
            <Values>
            </Values>
        </Filter>
    </SearchFilters>
</SearchConfig>